@model CoMute.Web.Models.Dto.CarPoolRequest

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "POST",
    Url = "/api/auth/login",
    OnComplete = "userLoginComplete",
    OnFailure = "userLoginComplete"
}))
        {
            @Html.HiddenFor(a => a.UserID)

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">CarPoolRequest</h4>
                </div>

                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.departureTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.departureTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.departureTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.expectedArrivalTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.expectedArrivalTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.expectedArrivalTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.daysAvaiable, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <label for="Sunday">Sunday</label> <input type="checkbox" id="Sunday" name="daysAvaiable" value="0" />
                            <label for="Sunday">Monday</label> <input type="checkbox" id="Monday" name="daysAvaiable" value="1" />
                            <label for="Tuesday">Tuesday</label> <input type="checkbox" id="Tuesday" name="daysAvaiable" value="2" />
                            <label for="Wednesday">Wednesday</label> <input type="checkbox" id="Wednesday" name="daysAvaiable" value="3" />
                            <label for="Thursday">Thursday</label> <input type="checkbox" id="Thursday" name="daysAvaiable" value="4" />
                            <label for="Friday">Friday</label> <input type="checkbox" id="Friday" name="daysAvaiable" value="5" />
                            <label for="Saturday">Saturday</label> <input type="checkbox" id="Saturday" name="daysAvaiable" value="6" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.origin, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.origin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.origin, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.destination, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.destination, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.destination, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.seatsAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.seatsAvailable, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.seatsAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        }
    </div>
</div>
